# Python
__pycache__/
*.pyc
*.pyo
.eggs/
dist/
build/
*.egg-info/

# Node
node_modules/
package-lock.json

# Tauri
src-tauri/gen/
src-tauri/target/
src-tauri/Cargo.lock

# Release build
release/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
